# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*

# Firebase cache
.firebase/

# Firebase config

# Uncomment this if you'd like others to create their own Firebase project.
# For a team working on the same Firebase project(s), it is recommended to leave
# it commented so all members can deploy to the same project(s) in .firebaserc.
# .firebaserc

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Python Directory Requirements
functions/python/MarkupSafe-3.0.2.dist-info/
functions/python/__pycache__/
functions/python/bin/
functions/python/blinker-1.9.0.dist-info/
functions/python/blinker/
functions/python/certifi-2024.12.14.dist-info/
functions/python/certifi/
functions/python/charset_normalizer-3.4.1.dist-info/
functions/python/charset_normalizer/
functions/python/click-8.1.8.dist-info/
functions/python/click/
functions/python/flask-3.1.0.dist-info/
functions/python/flask/
functions/python/gunicorn-23.0.0.dist-info/
functions/python/gunicorn/
functions/python/idna-3.10.dist-info/
functions/python/idna/
functions/python/itsdangerous-2.2.0.dist-info/
functions/python/itsdangerous/
functions/python/jinja2-3.1.5.dist-info/
functions/python/jinja2/
functions/python/markupsafe/
functions/python/packaging-24.2.dist-info/
functions/python/packaging/
functions/python/requests-2.32.3.dist-info/
functions/python/requests/
functions/python/urllib3-2.3.0.dist-info/
functions/python/urllib3/
functions/python/werkzeug-3.1.3.dist-info/
functions/python/werkzeug/

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
venv/

# dataconnect generated files
.dataconnect
